################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AplicatiePIU/FileContentIndex/1e75a166-b95e-4321-b7a9-cc2063f33404.vsidx
/.vs/AplicatiePIU/FileContentIndex/327bde5f-b83f-4f9e-9be0-cfc09c5bbc97.vsidx
/.vs/AplicatiePIU/FileContentIndex/708aefa1-adc3-4a81-bf00-4e4ab6a94430.vsidx
/.vs/AplicatiePIU/FileContentIndex/934845e1-2cb9-4de5-bf7b-54596efc9266.vsidx
/.vs/AplicatiePIU/FileContentIndex/ac3ce0cb-a78c-49e3-9e1c-ff7d685e5a2b.vsidx
/.vs/AplicatiePIU/FileContentIndex/d0ab6558-3a62-49f3-bd03-56ce297d64ad.vsidx
