################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AplicatiePIU/FileContentIndex/327bde5f-b83f-4f9e-9be0-cfc09c5bbc97.vsidx
/.vs/AplicatiePIU/FileContentIndex/921dcd30-e995-4c7b-a573-f02243a1e2a0.vsidx
/.vs/AplicatiePIU/FileContentIndex/9f7ee0e9-f7fc-4d17-bf40-168caa365aa9.vsidx
/.vs/AplicatiePIU/FileContentIndex/bdace8f7-b76d-43e3-8bdd-4cb147fd8ea1.vsidx
/.vs/AplicatiePIU/FileContentIndex/dbdcff52-6bed-4ed0-9b7f-7ed997256774.vsidx
